%h1 Log In

= form_tag sessions_path do
  = hidden_field_tag :redirect_to, params[:redirect_to]
  .form-group
    = label_tag :email
    = text_field_tag :email, params[:email], class: "form-control"
  .form-group
    = label_tag :password
    = password_field_tag :password, nil, class: "form-control"
  .actions
    = submit_tag "Log In", class: "btn btn-default"
