%h1= @league.name
%p Commissioner: #{@league.commissioner.name}
%ul
  Members
  - @league.members.each do |member|
    %li= member.name
- if @league.commissioner == current_user && @draft.ready_to_start?
  = link_to "Start draft", league_drafts_path(@league), method: "post"
- elsif !@league.eligible_to_be_member?(current_user)
  = link_to "Join", league_memberships_path(@league), method: "post"
