%h1= @league.name
%p Commissioner: #{@league.commissioner.name}
%ul
  Members
  - @league.members.each do |member|
    %li= member.name
- if @league.commissioner == current_user
  = link_to "Start draft", league_drafts_path(@league), method: "post"
- elsif !@league.members.include? current_user
  = link_to "Join", league_memberships_path(@league), method: "post"
