.centered-form
  %h1.form-title Subscribe to Fantasy Rocket

  = form_for @subscription do |f|
    = hidden_field_tag :redirect_to, params[:redirect_to]  if params[:redirect_to]

    %span.payment-errors

    .form-group
      %input.form-control.input-lg{type: "text", size: "20", "data-stripe" => "number", placeholder: "Number"}

    .form-group
      %input.form-control.input-lg{type: "text", size: "20", "data-stripe" => "cvc", placeholder: "CVC"}

    .form-group
      %input.input-lg{type: "text", size: "2", "data-stripe" => "exp-month", placeholder: "MM"}
      %span /
      %input.input-lg{type: "text", size: "4", "data-stripe" => "exp-year", placeholder: "YYYY"}

    .actions
      = f.submit "Subscribe", class: "btn btn-main btn-xlg", disable_with: "Subscribing..."


= javascript_include_tag "https://js.stripe.com/v2/"

-# TODO Add mixpanel tracking
-# convert to NewSubscriptionView in backbone
:javascript
  Stripe.setPublishableKey('#{Rails.configuration.stripe[:publishable_key]}');

  jQuery(function($) {
    $('form#new_subscription').submit(function(event) {
      var $form = $(this);

      // Disable the submit button to prevent repeated clicks
      $form.find('button').prop('disabled', true);

      Stripe.createToken($form, stripeResponseHandler);

      // Prevent the form from submitting with the default action
      return false;
    });
  });

  var stripeResponseHandler = function(status, response) {
    var $form = $('form#new_subscription');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // token contains id, last4, and card type
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };
