With the #{@draft.last_pick.as_ordinal} pick in the draft, #{@draft.last_picker.name} picked #{@draft.last_pick.team.name}!


#{@draft.current_picker.name} is up next with the #{@draft.current_pick.as_ordinal} pick.


To make your pick, visit:
= league_url(@league, h: @league.hmac, source: 'pick_made_email', medium: 'email')


DRAFT SO FAR:
= render partial: "draft_pick", :collection => @draft.picks
