.container.container-under-header.leagues-show
  - if @league.members.include? current_user
    .notification.social
      %h2 Share the latest standings!
      .social-buttons
        -# TODO open in small window (not full-size window)
        = link_to "Share on Facebook", share_on_facebook_url(url: league_url(@league)), class: "btn btn-xlg btn-share btn-facebook", target: '_blank'
        = link_to "Share on Twitter", share_on_twitter_url(url: league_url(@league), text: @league.default_tweet(current_user)), class: "btn btn-xlg btn-share btn-twitter", target: "_blank"

  = render "shared/create_league_notification"  unless current_user

  .league-header
    %h1.league-name= @league.name
    .member-count #{@league.members.size} players
  %table.table.black-table.league-members
    %thead
      %tr
        %th.rank-header Rank
        %th Team
        %th.wins-header Wins
    %tbody
      - @league.standings.each do |standing|
        %tr
          %td= standing.rank
          %td
            .member-name= standing.member_name
            .team-names= standing.teams_and_results
          %td= standing.win_count

:coffee
  mixpanel.track("League Show")
  mixpanel.track_links(".leagues-show .join-league-link", "League Join Click", data: {signed_in: false})
  mixpanel.track_forms(".leagues-show .join-league-form", "League Join Click", data: {signed_in: true})
