.drafts-show.container.container-under-header
  .league-header
    %h1.league-name= @league.name
    .member-count #{@league.members.size} players

  .current-pick
    - if @draft.current_picker == current_user
      It's your pick! Select a team to draft now.
    - else
      / TODO - pluralize correctly
      It's #{@draft.current_picker.name}'s turn to pick.

  .draft-view-toggle.clearfix
    .toggle-button.available-button Available
    .toggle-button.drafted-button Drafted

  %table.draft-table.table.drafted-view.hidden
    %thead
      %tr
        %th.pick-header Pick
        %th Team
    %tbody
      - @draft.picks.each_with_index do |pick, i|
        %tr
          %td.pick= i + 1
          %td.clearfix
            .team-name= pick.team.andand.name
            .member-name= pick.member.name

  %table.draft-table.table.available-view.hidden
    %thead
      %tr
        %th.rank-header FR Rank
        %th Team
    %tbody
      - @draft.available_teams.each_with_index do |team, i|
        %tr.available-team
          %td.rank= i + 1 + (@draft.unavailable_teams.andand.size || 0)
          %td.clearfix
            .team-name= team.name
            - if current_user == @draft.current_picker
              = link_to "+ Pick", draft_pick_path(@draft.current_pick, team_id: team.id), method: "put", class: "btn btn-main pick-link"

:coffee
  $ ->
    new DraftView()
