.drafts-show.container.container-under-header
  .league-header
    %h1.league-name= @league.name
    .member-count #{@league.members.size} players
    .how-the-draft-works

  .current-pick{class: @draft.current_picker == current_user ? "your-turn" : ""}
    - if @draft.current_picker == current_user
      It's your turn! Pick a team to draft.
    - else
      / TODO - pluralize correctly
      It's #{@draft.current_picker.name}'s turn to pick.

  .draft-view-toggle.clearfix
    .toggle-button.drafted-button Picks
    .toggle-button.available-button Available

  %table.draft-table.table.drafted-view.hidden
    %thead
      %tr
        %th.pick-header Pick
        %th Team
    %tbody
      - @draft.picks.each_with_index do |pick, i|
        %tr{class: pick == @draft.current_pick ? "drafting-now" : ""}
          %td.pick= i + 1
          %td.clearfix
            - if pick.team
              .team
                .team-icon{class: [pick.team.css_class, current_sport].join(" ")}
                .team-name= pick.team.name
            - elsif pick == @draft.current_pick
              .notification Drafting now!
            .member-name= pick.member.name

  %table.draft-table.table.available-view.hidden
    %thead
      %tr
        %th.rank-header= link_to "Exp. wins", sport_t("draft.expected_wins_link"), target: "_blank"
        %th Team
    %tbody
      - @draft.available_teams.each_with_index do |team, i|
        %tr.available-team
          %td.rank= team.expected_wins
          %td.clearfix
            .team
              .team-icon{class: [team.css_class, current_sport].join(" ")}
              .team-name
                = team.name
                - if @league.season.started?
                  (#{pluralize(team.win_count, 'win')} so far)
            - if current_user == @draft.current_picker
              = link_to "+ Pick", draft_pick_path(@draft.current_pick, team_id: team.id), method: "put", class: "btn btn-main pick-link"

- if @draft_pick
  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header.clearfix
          %button.close{:type =>   'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Close &times;
        .modal-body
          %p You picked the #{@draft_pick.team.name} #{@draft_pick.as_ordinal}
          %h3 Share your pick with friends!
          .actions
            = link_to "Share on Facebook", share_on_facebook_url(url: league_url(@league)), class: "btn btn-lg btn-share btn-facebook", target: '_blank'
            = link_to "Share on Twitter", share_on_twitter_url(url: league_url(@league), text: @draft_pick.default_tweet), class: "btn btn-lg btn-share btn-twitter", target: "_blank"
  :coffee
    $ ->
      $('.modal').modal()

:coffee
  $ ->
    new DraftView()
