.drafts-show.container.container-under-header
  .league-header
    %h1.league-name= @league.name
    .member-count #{@league.members.size} players
    .how-the-draft-works

  .current-pick{class: @draft.current_picker == current_user ? "your-turn" : ""}
    - if @draft.current_picker == current_user
      It's your turn! Pick a team to draft.
    - else
      / TODO - pluralize correctly
      It's #{@draft.current_picker.name}'s turn to pick.

  .draft-view-toggle.clearfix
    .toggle-button.drafted-button Picks
    .toggle-button.available-button Available

  %table.draft-table.table.drafted-view.hidden
    %thead
      %tr
        %th.pick-header Pick
        %th Team
    %tbody
      - @draft.picks.each_with_index do |pick, i|
        %tr{class: pick == @draft.current_pick ? "drafting-now" : ""}
          %td.pick= i + 1
          %td.clearfix
            - if pick.team
              .team
                .team-icon{class: pick.team.css_class}
                .team-name= pick.team.name
            - elsif pick == @draft.current_pick
              .notification Drafting now!
            .member-name= pick.member.name

  %table.draft-table.table.available-view.hidden
    %thead
      %tr
        %th.rank-header= link_to "Exp. wins", "http://www.cbssports.com/nfl/writer/pat-kirwan/23268807/nfl-teambyteam-record-predictions", target: "_blank"
        %th Team
    %tbody
      - @draft.available_teams.each_with_index do |team, i|
        %tr.available-team
          %td.rank= team.expected_wins
          %td.clearfix
            .team
              .team-icon{class: team.css_class}
              .team-name
                = team.name
                - if Team.season_started?
                  (#{pluralize(team.win_count, 'win')} so far)
            - if current_user == @draft.current_picker
              = link_to "+ Pick", draft_pick_path(@draft.current_pick, team_id: team.id), method: "put", class: "btn btn-main pick-link"

:coffee
  $ ->
    new DraftView()
